@model IEnumerable<CapstoneFinalProject.Models.Menu>

@{
    ViewData["Title"] = "View Our Menu";
}

<h2>View Our Menu</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <!--<th>
        @Html.DisplayNameFor(model => model.Photo)
    </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!-- <td>
        <img src="~/images/@item.Photo" width="60" />
     </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a>
                }

                <a asp-action="Details" asp-route-id="@item.MenuId">Details</a>

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>
                }
                <br /><a asp-action="AddToCart" asp-route-id="@item.MenuId" asp-route-returnUrl="menus/index">Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
